@model MobileShop.Models.Users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLogin</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/JQuery-UI/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/JQuery-UI/jquery-ui.js"></script>

    <style>
        .fly-in-text{
            list-style:none;
            position:absolute;
            left:100px;
            top:55px;
            transform:translateX(-500) translateY(-500);
        }

        .fly-in-text li{
            display:inline-block;
            font-family:sans-serif;
            font-weight:300;
            font-size:2.5em;
            color:#fff;
            opacity:1;
            transition:all 5s ease;
        }

        .fly-in-text li:last-child{
            margin-right:0;
        }
        .fly-in-text.hidden li{
            opacity:0;
        }
        .fly-in-text.hidden li:nth-child(1){
            transform:translateX(-200) translateY(-200);}

            .fly-in-text.hidden li:nth-child(2) {
                transform: translateX(200) translateY(740);
            }
            .fly-in-text.hidden li:nth-child(3) {
                transform: translateX(-120) translateY(-120);
            }
            .fly-in-text.hidden li:nth-child(4) {
                transform: translateX(180) translateY(200);
            }
            .fly-in-text.hidden li:nth-child(5) {
                transform: translateX(-160) translateY(-10);
            }
            .fly-in-text.hidden li:nth-child(6) {
                transform: translateX(560) translateY(270);
            }
            .fly-in-text.hidden li:nth-child(7) {
                transform: translateX(-30) translateY(-300);
            }
            .fly-in-text.hidden li:nth-child(8) {
                transform: translateX(200) translateY(200);
            }
            .fly-in-text.hidden li:nth-child(9) {
                transform: translateX(-90) translateY(-290);
            }
            .fly-in-text.hidden li:nth-child(10) {
                transform: translateX(80) translateY(360);
            }
            .fly-in-text.hidden li:nth-child(11) {
                transform: translateX(-50) translateY(-20);
            }
            .fly-in-text.hidden li:nth-child(12) {
                transform: translateX(10) translateY(20);
            }
            .fly-in-text.hidden li:nth-child(13) {
                transform: translateX(-100) translateY(-320);
            }
            .fly-in-text.hidden li:nth-child(14) {
                transform: translateX(20) translateY(400);
            }
    </style>

    <script>

        $(document).ready(function () {
            $("#mp").fadeIn(1000, function(){
                $("#logIn").fadeIn(400, function () { 
                    $("#logIn1").fadeIn(400, function () { 
                        $("#logIn2").fadeToggle(400);
                        $("#mobAdd").animate({ right: '0px' });
                        $("#AccAdd").animate({ right: '0px' });
                    });
                });
            }); 
                           
           
        });

        $(function () { 
            setTimeout(function () { 
                $('.fly-in-text').removeClass('hidden');
            },500);
        });
      

    </script>

</head>

<body class="center-block" style="background-color:#2c3e50; background-repeat:repeat-x;">



    <ul class="fly-in-text hidden">
        <li>M</li>
        <li>y</li>
        <li></li>
        <li>M</li>
        <li>o</li>
        <li>b</li>
        <li>i</li>
        <li>l</li>
        <li>e</li>
        <li></li>
        <li>S</li>
        <li>h</li>
        <li>o</li>
        <li>p</li>
    </ul>

    <div id="mp" class="col-md-3 col-md-offset-1 panel panel-primary" style="display:none; margin-top:50px;">
        <div class="panel-heading text-center">
            Please sign in
        </div>
        <div class="panel-body">
            <form class="form-signin" asp-action="UserLogin" method="post">
                <hr />
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" required autofocus />
                <span asp-validation-for="UserName" class="text-danger"></span>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button><label class="text-center text-danger">@ViewBag.Message</label>
                <hr />
            </form>
        </div>
    </div> <!-- /container -->

    <div class="col-md-7 col-md-offset-1">
        <div class="row">
            <div id="logIn" class="col-md-3 col bg-danger img-rounded" style="display:none; height:180px;">
                <h3 style="text-decoration:underline;font-size:larger;color:white;">Molbiles</h3>

                <ul style="color:white;">
                    <li>Iphone</li>
                    <li>Samsung</li>
                    <li>BlackBerry</li>
                    <li>Nokia</li>
                    <li>Qmobile</li>
                </ul>
            </div>
             <div id="mobAdd" class="col-md-5 justify-content-end" style="right:-800px; color:white; height:150px; margin-top:15px; text-align:right; border-top:dotted; border-top-color:white; border-bottom:dotted; border-bottom-color:white;border-right:dotted; border-right-color:white; border-radius:25px;">
                <br />
                <p> Wide Range Of High Quality Mobiles,</p>
                <p> With High Resolution Cameras and Big Data Storage Capacity</p>
            </div>
        </div>

        <div class="row">
            <div id="logIn1" class="col-md-3 col-md-offset-3 bg-info img-rounded" style="display:none; height:180px;">
                <h3 style="text-decoration:underline;font-size:larger;color:white;">Accessories</h3>

                <ul style="color:white;">
                    <li>Head phones</li>
                    <li>Chargers</li>
                    <li>Mobile Covers</li>
                    <li>Cables</li>
                    <li>Memory Cards & USBs</li>
                </ul>
            </div>

            <div id="AccAdd" class="col-md-5  justify-content-end" style="right:-800px; color:white; height:150px; margin-top:15px; text-align:right; border-top:dotted; border-top-color:white; border-bottom:dotted; border-bottom-color:white;border-right:dotted; border-right-color:white; border-radius:25px;">
                <br />
                <p> All Kind Of Mobile Accessories Are Available,</p>
                <p> We Provide Products On Order If One Is Not In Our Item List</p>
            </div>
        </div>


        <div class="row">
            <div id="logIn2" class="col-md-3 col-md-offset-6 bg-warning img-rounded" style="display:none; height:180px;">
                <h3 style="text-decoration:underline;font-size:larger;color:white;">Contact Us</h3>

                <ul style="color:white;">
                    <li>Azee Ur Rehman</li>
                    <li>Theta Solutions</li>                   
                    <li>aaze52250@gmail</li>
                    <li>0331-6473349</li>
                    <li>Trainer-<br />Sir Usman Nazir</li>
                </ul>
            </div>
        </div>
    </div>  
    @section Scripts {

        @*<script type="text/javascript">
            function add_chatinline() { var hccid = 97452151; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
            add_chatinline();</script>*@
        @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@


    }
</body>
</html>
